.header {
  padding: 15px 0px;
  @media screen and (max-width: $tablet) {
    padding: 0;
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet) {
      padding-right: 0;
    }
  }
  &__logotype {
    margin-right: 92px;
    display: flex;
    align-items: center;
    @media screen and (max-width: $laptopM) {
      margin-right: 62px;
    }
    @media screen and (max-width: $laptopS) {
      margin-right: 40px;
    }
    img {
      width: 133px;
      @media screen and (max-width: $laptopS) {
        width: 90px;
      }
      @media screen and (max-width: $tablet) {
        width: 116px;
      }
    }
  }
  &__cart {
    margin-right: 56px;
    margin-left: auto;
    @media screen and (max-width: $laptopS) {
      margin-right: 36px;
    }
    @media screen and (max-width: $tablet) {
      margin-right: 8px;
    }
  }
  &__account-button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
    @media screen and (max-width: $laptopS) {
      font-size: 14px;
    }
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  .mb-account-button {
    display: none;
    @media screen and (max-width: $tablet) {
      background: $yellow;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: white;
        width: 20px;
        height: 22px;
      }
    }
  }

  .mb-burger {
    display: none;
    @media screen and (max-width: $tablet) {
      display: block;
      width: 24px;
      height: 24px;
      svg {
        fill: $yellow;
        height: 100%;
        width: 100%;
      }
    }
  }
  .mb-current-page {
    display: none;
    @media screen and (max-width: $tablet) {
      display: inline;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $text-color;
      margin-left: 16px;
    }
  }

  .mb-menu {
    @media screen and (max-width: $tablet) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 72%;
      background: #fff;
      z-index: 50;
      align-items: flex-end;
      padding: 7px 16px 16px 16px;
      flex-wrap: wrap;
      justify-content: flex-start;
      transform: translateX(-100%);
      will-change: transform;
      &.closed {
        transition: 0.1s transform ease-out;
      }
      &.active {
        transform: translateX(0);
        transition: 0.3s transform ease-in;
      }
      .nav {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 42px;
        &__link {
          margin-bottom: 24px;
        }
      }
    }
  }
  
  .mb-close-button {
    display: none;
    margin-right: 16px;
    svg {
      width: 24px;
      height: 24px;
      fill: $yellow;
    }
    @media screen and (max-width: $tablet) {
      display: block;
    }
  }
}

.cart-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  @media screen and (max-width: $laptopS) {
    font-size: 14px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 12px;
  }
  &__icon {
    width: 1.5em;
    height: 1.5em;
    fill: $text-color;
    margin-right: 0.625em;
    @media screen and (max-width: $tablet) {
      width: 2em;
      height: 2em;
      fill: $yellow;
    }
  }
  &__count {
    font-style: normal;
    font-weight: 600;
    font-size: inherit;
    line-height: 1.375em;
    color: $text-color;
    span {
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
    mark {
      @media screen and (max-width: $tablet) {
        position: absolute;
        top: -6px;
        right: 0;

        font-weight: bold;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.14px;
        color: #FFFFFF;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $accent;
        border-radius: 10px;
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  display: none;
  &.active {
    display: block;
  }
}