<% var data = {
title: "Moni Pai - 6",
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="intro-block with-search">
    <div class="blur-bg"></div>
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="breadcrumbs__item">
                <svg>
                    <use xlink:href="#home"></use>
                </svg>
                Home
            </a>
            <a href="#" class="breadcrumbs__item">
                Cart
            </a>
        </div>
        <div class="search-bar without-btn">
            <div class="search-bar__section">
                <div class="search-bar__label">City</div>
                <div class="search-bar__value">Hamilton</div>
            </div>
            <div class="search-bar__section">
                <div class="search-bar__label">Region</div>
                <div class="search-bar__value">Whitiora</div>
            </div>
            <div class="search-bar__section ">
                <div class="map-button">
                    <img src="img/icons/map.svg" alt="open map" class="map-button__icon">
                    Find on the map
                </div>
            </div>
            <div class="search-bar__section store-section">
                <div class="search-bar__label">Store</div>
                <div class="search-bar__store-list">
                    <img src="img/store/01.png" alt="logo">
                    <img src="img/store/04.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-block default-block">
    <div class="container">
        <div class="product-block__first-col">
            <div class="product-block__logotype">
                <img src="img/products/29.png" alt="">
                <div class="product-block__prefs">
                    <img class="product-block__pref" src="img/prefs/01.svg" alt="pref">
                    <img class="product-block__pref" src="img/prefs/02.svg" alt="pref">
                </div>
            </div>
            <div class="swiper-container product-block__slider mini-slider">
                <div class="mini-slider__header">
                    <button class="mini-slider__left mini-slider__icon">
                        <svg>
                            <use xlink:href="#arrow"></use>
                        </svg>
                    </button>
                    <div class="mini-slider__desc">
                        You can see other items
                    </div>
                    <button class="mini-slider__right mini-slider__icon">
                        <svg>
                            <use xlink:href="#arrow"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-wrapper mini-slider__body">
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                    <div class="swiper-slide mini-slider__slide">
                        <img src="img/products/27.png" alt="slide">
                    </div>
                </div>
            </div>
        </div>
        <div class="product-block__second-col">
            <h4 class="product-block__title">Organic Green Apple</h4>
            <div class="product-block__offers offers">

                <div class="offer">
                    <div class="offer__logotype">
                        <img src="img/store/01.png" alt="offer">
                    </div>
                    <div class="offer__info">
                        <div class="offer__title">PAK’nSAVE</div>
                        <div class="offer__save">SAVE <strong>$7.45</strong></div>
                    </div>
                    <div class="offer__price default-price">
                        <p class="default-price__discount">$22.50</p>
                        <p class="default-price__prev">$37.25</p>
                        <p class="default-price__label">-15%</p>
                    </div>
                    <button class="offer__button cart-button default-button">
                        <svg>
                            <use xlink:href="#cart"></use>
                        </svg>
                        <span>Add to cart</span>
                    </button>
                </div>

                <div class="offer">
                    <div class="offer__logotype">
                        <img src="img/store/04.png" alt="offer">
                    </div>
                    <div class="offer__info">
                        <div class="offer__title">farro</div>
                        <div class="offer__save">SAVE <strong>$7.45</strong></div>
                    </div>
                    <div class="offer__price default-price">
                        <p class="default-price__discount">$22.50</p>
                        <p class="default-price__prev">$37.25</p>
                        <p class="default-price__label">-13%</p>
                    </div>
                    <button class="offer__button cart-button default-button">
                        <svg>
                            <use xlink:href="#cart"></use>
                        </svg>
                        <span>Add to cart</span>
                    </button>
                </div>

                <div class="offer">
                    <div class="offer__logotype">
                        <img src="img/store/02-2.png" alt="offer">
                    </div>
                    <div class="offer__info">
                        <div class="offer__title">New World</div>
                    </div>
                    <div class="offer__price default-price">
                        $47.00
                    </div>
                    <button class="offer__button cart-button default-button">
                        <svg>
                            <use xlink:href="#cart"></use>
                        </svg>
                        <span>Add to cart</span>
                    </button>
                </div>

                <div class="offer">
                    <div class="offer__logotype">
                        <img src="img/store/03.png" alt="offer">
                    </div>
                    <div class="offer__info">
                        <div class="offer__title">countdown</div>
                    </div>
                    <div class="offer__price default-price">
                        $47.00
                    </div>
                    <button class="offer__button cart-button default-button">
                        <svg>
                            <use xlink:href="#cart"></use>
                        </svg>
                        <span>Add to cart</span>
                    </button>
                </div>

                <div class="offer">
                    <div class="offer__logotype">
                        <img src="img/store/05.png" alt="offer">
                    </div>
                    <div class="offer__info">
                        <div class="offer__title">FOUR SQUARE</div>
                    </div>
                    <div class="offer__price default-price">
                        $47.00
                    </div>
                    <button class="offer__button cart-button default-button">
                        <svg>
                            <use xlink:href="#cart"></use>
                        </svg>
                        <span>Add to cart</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/sprites.html').default)(data) %>
<%= _.template(require('./../includes/popups.html').default)(data) %>
<%= _.template(require('./../includes/footer.html').default)(data) %>
